---
layout: layout.njk
permalink: 404.shtml
eleventyAllowMissingExtension: true
eleventyExcludeFromCollections: true
title: 404 - Página no encontrada
description: "Lo sentimos, la página que buscas no existe."
---

<div class="main container">
		<P>Lo sentimos, la página que estás buscando no existe.</p>
</div>